@use "base" as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $primary-base;
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  @include media-mobile {
    background-image: url(../images/pattern-background-mobile.svg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: auto;
}
